<!--<title> Help | Ruby on Rails Tutorial Sample App</title>-->
<%= provide(:title, "Help") %>
<h1>Help </h1>
<h2> Click button below to go to official Ruby help page:</h2>
<button> <%= link_to "Help center", "http://rubyonrails.org/" %></button>